:root {
    --first-color: rgb(0, 136, 255);
    --title-color: hsl(0, 0%, 90%);
    --text-color: hsl(0, 0%, 60%);
    --body-color: hsl(0, 0%, 0%);
    --line-color: hsla(0, 0%, 100%, 0.2);
    --container-color: hsl(0, 0%, 100%);
  
    --body-font: "Manrope", sans-serif;
    --secondary-font: "DM Mono";
    --h2-font-size: 1.25rem;
    --small-font-size: 0.813rem;
  }

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--body-color);
    font-family: var(--body-font);
    color: var(--text-color);
}

a {
text-decoration: none;
}


.header{
    margin: 0 5rem;
    position: relative;
    width: calc(100vw - 10rem);
    backdrop-filter: blur(2px);
}

section{
    margin: 2rem 5rem;
}

.navbar{
    width: 100%;
    position: a;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 20px 0;
}

.navigation{
    display: flex;
    gap: 1.5rem;
    color: var(--text-color);
}

.logo{
    color: var(--title-color);
    font-weight: 700;
    font-size: var(--h2-font-size);
}

.accent-color{
    color: var(--first-color);
}

.line{
    background-color: var(--text-color);
    height: 2px;
    border-radius: 10px;
}

.nav-icon:hover{
    color: var(--title-color);
    transition: 0.2s;
}

.accent-color.nav-icon:hover{
    color: lightskyblue;
}

.lines{
    position: fixed;
    display: flex;
    width: calc(100vw - 10rem);
    justify-content: space-between;
    align-items: center;
}

.line-bg {
    width: 1px;
    height: calc(100vh + 100vh);
    background-color: var(--line-color);
}

.intro {
    margin: 3rem 5rem;
    width: 60vw;
    font-size: 80px;
    font-weight: 800;
}

.below-header{
    margin-top: 10px;
    font-family: var(--secondary-font);
    font-size: small;
}

.container{
    display: flex;
    width: calc(100vw - 10rem);
    justify-content: space-between;
    align-items: center;
}

.container-mod{
    display: flex;
    width: calc(100vw - 10rem);
    justify-content: space-between;
    align-items: center;
}

.white{
    color: var(--title-color);
}

.subtext{
    margin: 3rem 0;
    font-size: 40px;
    width: 60vw;
}

img{
    width: 30vw;
    border-radius: 20px;
    margin: 1rem;
}

svg{
    color: var(--title-color);
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--line-color);
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.social:hover{
    background-color: var(--text-color);
    transition: 0.2s;
}

@media (max-width: 800px){
    
    .container-mod{
        flex-direction: column;
    }

    .desktop{
        display: none;
    }

    .intro {
        font-size: 40px;
    }

    .subtext{
        font-size: 30px;
    }

    img{
        width: 39vw;
        margin: 2rem 0;
    }
}

@media (max-width: 400px){
    .intro {
        font-size: 30px;
    }

    .subtext{
        font-size: 20px;
    }
}